@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/* Global */
.btn {
	@apply rounded-full uppercase text-xs font-bold cursor-pointer tracking-wider;
}

.ease-out-transition {
	@apply transition ease-out duration-500;
}

.App .content {
	@apply absolute flex h-full w-screen top-[60px];
}

/* Navbar */
nav {
	@apply bg-gradient-to-b z-10 from-secondary to-white opacity-95;
}

.nav-items .nav-link {
	@apply md:px-4 px-6 md:py-0 py-2 h-full font-semibold text-base text-grey hover:text-primary hover:font-bold;
}

.nav-menu-text {
	@apply text-grey text-sm font-medium;
}

.nav-icon {
	@apply w-4 h-4 nav-menu-text hover:text-gray-500;
}

nav ul {
	@apply cursor-pointer;
}

/* Form */
.form-label {
	@apply block uppercase tracking-wide text-gray-700 text-[0.70rem] font-semibold mb-2;
}

.form-input {
	@apply appearance-none block w-full border-none font-semibold bg-gray-200 text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white;
}
